<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <clear />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Detailed">
      <remove statusCode="403" subStatusCode="14" />
      <error statusCode="403" subStatusCode="14" path="/dispatch.asp" responseMode="ExecuteURL" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" path="/dispatch.asp" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="100" />
      <error statusCode="500" subStatusCode="100" path="/error.asp" responseMode="ExecuteURL" />
    </httpErrors>    
    <rewrite>
      <rules>
        <rule name="Favicon" stopProcessing="true">
          <match url="favicon.ico(\?|$)(.*)" ignoreCase="true" />
          <action type="Rewrite" url="assets/favicon.ico{R:1}{R:2}" />
        </rule>
        <rule name="Img Caching">
          <match url="^(img\/[^\?]*)($|\?)(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_IF_MODIFIED_SINCE}" pattern="(.*)" />
          </conditions>
          <action type="Rewrite" url="{R:1}?X-If-Modified-Since={C:1}&amp;{R:3}" />
        </rule>
        <rule name="Request Routing">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{URL}" pattern="^\/assets\/" negate="true" />
          </conditions>
          <action type="Rewrite" url="dispatch.asp?/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
