/*
==========================================================================
 Project: Greenhouse - Application Selector Page
 Author: Matt Grantham - @MattGrantham
==========================================================================
*/

/* Application Picker Page
---------------------------------------------- */

.sc-logo {
  background: url('/static/sproutcore/greenhouse/en/current/images/logos/sproutcore.png?1287123522');
}

.greenhouse-logo-l {
  background: url('/static/sproutcore/greenhouse/en/current/images/logos/greenhouse-l.png?1287123522');
}

.app-picker .helper {
  background: url('/static/sproutcore/greenhouse/en/current/images/app-selector/choose-app.png?1287123522');
}

/* List of Application */

.app-picker .sc-view.sc-scroll-view.sc-gray-border {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #2c2c2c;
  border: 1px solid #1d1d1d;
  -moz-box-shadow: 0 1px 0 #494949;
  -webkit-box-shadow: 0 1px 0 #494949;
}

.app-picker .sc-collection-view {
  background: none;
}

.app-picker .sc-scroll-view .sc-list-item-view {
  font-size: 16px;
  color: #fff;
  text-shadow: 0 1px 0 #000;
  border-top: 1px solid #3d3d3d;
  border-bottom: 1px solid #1c1c1c;
}
.sc-theme.focus .app-picker .sc-collection-view.focus .sc-collection-item.sel,
.app-picker .sc-scroll-view .sc-list-item-view.sel {
  color: #e8ffb0;
  border-top: 1px solid #727272;
  background: url('/static/sproutcore/greenhouse/en/current/images/app-selector/list-item-sel.png?1287123522') repeat-x;
  border-bottom: 1px solid #1c1c1c;
}
.app-picker .sc-scroll-view .sc-list-item-view.first {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-top: none;
}

.sc-theme.focus .app-picker .sc-collection-view.focus .sc-collection-item.sel.first, 
.app-picker .sc-scroll-view .sc-list-item-view.sel.first {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-top: none;
}

.app-picker .sc-list-item-view img {
  margin-top: -8px !important;
}

.app-picker .sc-list-item-view label {
  left: 26px !important;
}

/* Load App Button */

/* HACK: Overriding Default Sproutcore button styling...quick and dirty */

.app-picker .sc-button-view.def.capsule {
  background: url('/static/sproutcore/greenhouse/en/current/images/buttons/capsule-xl/regular-r.png?1287123522') no-repeat right !important;
  height: 28px !important;
  max-height: 28px !important;
}
.app-picker .sc-button-view.def.capsule span {
  background: url('/static/sproutcore/greenhouse/en/current/images/buttons/capsule-xl/regular-l.png?1287123522') no-repeat !important;
  height: 28px !important;
  max-height: 28px !important;
}
.app-picker .sc-button-view.def.capsule label {
  background: url('/static/sproutcore/greenhouse/en/current/images/buttons/capsule-xl/regular-m.png?1287123522') repeat-x !important;
  font-size: 14px !important;
  color: #000 !important;
  text-shadow: 0 1px 0 #c5c5c5 !important;
  height: 28px !important;
  max-height: 28px !important;
  line-height: 28px;
}

.app-picker .sc-button-view.def.capsule.active {
  background: url('/static/sproutcore/greenhouse/en/current/images/buttons/capsule-xl/active-r.png?1287123522') no-repeat right !important;
  color: #313131 !important;
}
.app-picker .sc-button-view.def.capsule.active span {
  background: url('/static/sproutcore/greenhouse/en/current/images/buttons/capsule-xl/active-l.png?1287123522') no-repeat !important;
  color: #313131 !important;
}
.app-picker .sc-button-view.def.capsule.active label {
  background: url('/static/sproutcore/greenhouse/en/current/images/buttons/capsule-xl/active-m.png?1287123522') repeat-x !important;
  color: #313131 !important;
}