/*
==========================================================================
 Project: Greenhouse - Main Application Interface Styling
 Author: Matt Grantham - @MattGrantham
==========================================================================
*/


/* Toolbar */

.toolbar {
  background: url('/static/sproutcore/greenhouse/en/current/images/toolbar-bg.png?1287123522') repeat-x;
}

.greenhouse-logo-s {
  background: url('/static/sproutcore/greenhouse/en/current/images/logos/greenhouse-s.png?1287123522') no-repeat;
}

.toolbar .title {
  color: #B3D93B;
  text-shadow: 0 1px 0 #000;
  line-height: 24px;
  font-size: 13px;
}

/* Toolbar Icons */

.toolbar .projects {
  background: url('/static/sproutcore/greenhouse/en/current/images/icons/projects.png?1287123522') no-repeat;
  width: 28px;
  height: 14px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 50%;
  margin-left: -14px;
}
.toolbar .save {
  background: url('/static/sproutcore/greenhouse/en/current/images/icons/save.png?1287123522') no-repeat;
  width: 14px;
  height: 15px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -7px;
}
.toolbar .run {
  background: url('/static/sproutcore/greenhouse/en/current/images/icons/run.png?1287123522') no-repeat;
  width: 10px;
  height: 12px;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -5px;
}
.toolbar .library {
  background: url('/static/sproutcore/greenhouse/en/current/images/icons/library.png?1287123522') no-repeat;
  width: 21px;
  height: 16px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -10px;
}
.toolbar .inspector {
  background: url('/static/sproutcore/greenhouse/en/current/images/icons/inspector.png?1287123522') no-repeat;
  width: 25px;
  height: 17px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -12px;
}
.toolbar .actions {
  background: url('/static/sproutcore/greenhouse/en/current/images/icons/actions.png?1287123522') no-repeat;
  width: 28px;
  height: 17px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -14px;
}

.toolbar .projects.active {
  background: url('/static/sproutcore/greenhouse/en/current/images/icons/projects-active.png?1287123522') no-repeat;
}
.toolbar .save.active {
  background: url('/static/sproutcore/greenhouse/en/current/images/icons/save-active.png?1287123522') no-repeat;
}
.toolbar .run.active {
  background: url('/static/sproutcore/greenhouse/en/current/images/icons/run-active.png?1287123522') no-repeat;
}
.toolbar .library.active {
  background: url('/static/sproutcore/greenhouse/en/current/images/icons/library-active.png?1287123522') no-repeat;
}
.toolbar .inspector.active {
  background: url('/static/sproutcore/greenhouse/en/current/images/icons/inspector-active.png?1287123522') no-repeat;
}
.toolbar .actions.active {
  background: url('/static/sproutcore/greenhouse/en/current/images/icons/actions-active.png?1287123522') no-repeat;
}

/* Workspace */

.workspace,
.workspace > div.sc-web-view {
  background: url('/static/sproutcore/greenhouse/en/current/images/main-bg.png?1287123522');
}

.workspace .design {
  border: 1px solid #1c1c1c;
  box-shadow: 0 3px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.75);
}
