<%#template templ/main.html%>
<%#data page_title "Upload Tester"%>
<%#region content%>
<form method="post" enctype="multipart/form-data" action="/test/upload/post">
  <dl>
    <dt>text1</dt>
    <dd><input type="text" name="text1" /></dd>
    <dt>text1</dt>
    <dd><input type="text" name="text1" /></dd>
    <dt>text2</dt>
    <dd><input type="text" name="text2" /></dd>
    <dt>file1</dt>
    <dd><input type="file" name="file1" multiple="multiple" /></dd>
    <dt>&nbsp;</dt>
    <dd><input type="submit" value="Upload" /></dd>
  </dl>
</form>
<%#end region%>
