html {
	margin:0;
	padding:0;
	height:100%;
	overflow-y:scroll;
	background:#000033;
}
body {
	margin:0;
	padding:0;
	width:950px;
	margin:0 auto;
	height:100%;
	background:#eee;
}
body, textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#444;
}
a {
	color:#444;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
img {
	border:none;
	-ms-interpolation-mode: bicubic;
}
p, ol, ul {
	margin:13px 0;
	padding:0;
	line-height:1.3em;
}
ol, ul {
	padding-left:30px;
}
h1, h2, h3, h4, h5, h6 {
	margin:13px 0;
	padding:0;
	font-size:100%;
	font-weight:bold;
}



.page td {
	padding:0;
	text-align:left;
	vertical-align:top;
}
.head {
	height:120px;
	vertical-align:middle;
}
.foot {
	height:120px;
	vertical-align:middle;
}




